@media (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0;
        box-sizing: border-box;
        padding: 0;
    }
    
    body{
        font-family: Arial;
    }

    .error-messagephp {
      background-color: #f2f2f2;
      border: 1px solid #ccc;
      padding: 10px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 80%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    #overlay {
      font-size: 20px;
      font-family: 'TheSerifExtraBold';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
  }
  
  #popup {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
  }
  #popup div{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #popup svg{
  
    padding-right: 1%;
    width: 80px;
  }
  
  #entendido {
    font-size: 20px;
    margin-top: 3%;
      padding: 12px 22px;
      border-radius: 2%;
      background-color: #007bff;
      border: none;
      color: white;
      cursor: pointer;
  }

    .nav{
      background-color: #e4e4e4;
      font-size: 17px;
   
    
        --img1: scale(1);
        --img2: scale(0);
    }
    
    .nav:has( .dropdown:target ){
        --img1: scale(0);
        --img2: scale(1);
    
        --clip:inset(0 0 0 0);
    
    }
    
    .nav__container{
        width: 90%;
        margin: 0 auto;
        height: 70px;
    
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-areas: "title img";
        justify-content: space-between;
        align-items: center;
    
        overflow: hidden;
    }
    
    .nav__title{
        width: 20%;
    }
    
    
    .nav__menu{
      
        grid-area: img;
        position: relative;
        z-index: 10;
    
        transform: var(--img1);
    }
    
    .nav__menu--second{
        transform: var(--img2);
    }
    
    .nav__icon{
        width: 30px;
        display: block;
    }
    
    .dropdown{
        position: absolute;
        background-color: #000;
        width: 75%;
        max-width: 400px;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1em;
    
        display: grid;
        align-content:center ;
        gap: 1rem;
    
        overflow-y: auto;
    
    
        clip-path: var(--clip, inset(0 0 100% 100%));
        transition: clip-path .5s;
    }
    
    .dropdown__list{
        list-style: none;
    }
    
    .dropdown__link{
        color: rgb(184, 187, 191);
        padding: 1em .7em;
        text-decoration: none;
        
        display: flex;
        align-items: center;
        gap: .6rem;
    
        position: relative;
        background-color: var(--bg, transparent);
        border-radius: 6px;
    }
    
    .dropdown__list:has( :checked ){
        --rows: 1fr;
        --rotate: rotate(180deg);
        --bg: #28303B;
    }
    
    .dropdown__check{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    
    .dropdown__arrow{
        margin-left: auto;
        transform: var(--rotate, 0);
        transition: .2s transform;
    }
    
    .dropdown__content{
        display: grid;
        grid-template-rows: var(--rows, 0fr);
        transition: .3s grid-template-rows;
    }
    
    .dropdown__sub{
        overflow: hidden;
    
    }
    
    .dropdown__li{
        width: 85%;
        list-style: none;
        margin-left: auto;
    }
    
    .dropdown__anchor{
        padding: 1em 0;
        display: block;
        color: #B6BABE;
        text-decoration: none;
    }
  
    .imagen1{
      width: 40%;
      display: none;
    }
    .imagen2{
      width: 80%;
      margin-top: 3%;
  
  
    }
    .video-container {
      position: relative; /* Asegura que el contenedor sea posicionado */
      z-index: -1; /* Coloca el video detrás del contenido */
  }
  /* Estilos para el formulario y campos */
  .formulario-reserva {
      display: none;
      flex-direction: column;
      padding: 4%;
      font-family: 'ImpressumStd-Roman', Arial, sans-serif;
      background-color: rgb(119, 0, 0);
      color: white;
    }
    
    .label-reserva {
      flex-basis: 30%; /* Ancho del label (etiqueta) */
      margin-bottom: 10px;
      padding-left: 25px;
      font-size: 16px;
    }
    
    .input-reserva{
      flex-basis: 65%; /* Ancho del input y botón */
      margin-left: 4px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-radius: 3px;
    }
    
    .button-reserva {
  
      margin-left: 50px;
      margin-right: 50px;
      background-color: #ffffff; /* Color de fondo rojo */
      color: #050505; /* Color de las letras blancas */
      border: 3px solid #000000; /* Borde blanco de 2px */
      border-radius: 5px; /* Bordes redondos */
      padding: 15px 25px; /* Espacio interno alrededor del texto */
      font-size: 16px; /* Tamaño de fuente */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      font-family: 'ImpressumStd-Roman', Arial, sans-serif;
    }
    
    .button-reserva:hover {
      background-color: #b80606;
      color: #ffffff;
    }
    
    .button-reserva:active {
      background-color: #ff0000;
      color: #ffffff;
    }
    .center-button{
      align-items: center;
      text-align: center;
    }
     /* Notificacion Superior */
     .avisos{
      background-color: red;
      margin: 0 auto;
      padding: 5px;
      font-family: 'TheSerifExtraBold';
      
    }
    .novedades1 {
      margin: 0 auto;
      font-size:15px;
      background-color: #f1f1f1;
      border-radius: 8px;
         }
  
    #contenido{
      margin-right: 3%;
      margin-left: 3%;
      margin-bottom: 5%;
    }
    .bloques{
      margin-top: 5%;
      font-size: 140%;
      font-family: 'ImpressumStd-Roman';
      margin-right: 5%;
      margin-left: 5%;
    }
    .bloque1{
  
    }
    .bloque2, .bloque3{
        
        margin-top: 6%;
        
    }
    .textobloque1{
      font-size: 80%;
    }
    .titulo {
      
      margin: 5px 0;
    }
    h1{
      font-family: 'Clarendon-Serial-Heavy';
      font-size: 40px;
      color: #cf0303; /* Color del texto */
      -webkit-text-stroke: 2px #000; /* Contorno del texto */
      text-stroke: 2px #000; /* Contorno del texto */
    }
  
    footer {
      background-color:rgb(119, 0, 0);
      color: #fff;
      padding: 32px;
      font-size: 120%;
      
    }
    
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer-links {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .footer-links li {
      display: inline-block;
      margin-right: 20px;
    }
    
    .footer-links li:last-child {
      margin-right: 0;
    }
    
    .footer-links a {
      color: #fff;
      text-decoration: none;
    }
    
    .footer-links a:hover {
      text-decoration: underline;
    }
      /* MALAGA LARIOS */
  .titulo-larios{
    padding-top: 3%;
    font-family: 'Clarendon-Serial-Heavy';
    text-align: center;
    font-size: 35px;
  }

  #contenedor-larios{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    justify-content: center;
    gap: 20px;
    font-family: 'Overpass-Regular';
    background-color: #ffffff;
    font-size: 20px;
  }

  .foto-encargado{
    width: 100%;
  }
  #foto-nombre{
    display: flex;
    gap: 20%;
    justify-content: center;
    padding-bottom: 5%;
  }
  
  .foto-encargado-sandra{
    width: 80%;
  }
  .foto-encargado-franzi{
    width: 95%;
  }


  #direccion-mapa{
    display: flex;
    flex-direction: column;
   
  }

  #horarios{
    display: none;
  }

  .parrafo-direccion{
    padding-right: 1%;
    text-align: center;
  }
  .maps{
    width: 100%;
  }



  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
  }

  .image {
    margin: 10px;
  }

  .image img {
    margin-top: 5%;
    width: 700px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
  }
  .imagenes-restaurantes{
    transition: transform 0.3s ease;
  }

  .imagenes-restaurantes:hover {
    transform: scale(1.1); /* Ajusta el valor según el grado de agrandamiento deseado */
  }
  #formulario-takeaway{
    display: none;
    margin: 5% 8%;
    margin-bottom: 35%;
    padding: 7%;
    background-image: url('../imagenes/photo1690807460\ \(2\).webp'); /* Ruta de la imagen que deseas usar */
    background-size: cover; /* La imagen se ajustará al tamaño del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del div */
  border-radius: 2%;
  color: white;
  font-size: 23px;
  font-family: 'Overpass-Regular';
  }
  #formulario-takeaway1{
    font-family: 'TheSerifExtraBold';
    margin: 5% 8%;
    margin-bottom: 35%;
    padding: 7%;
    background-image: url('../imagenes/photo1690807460\ \(2\).webp'); /* Ruta de la imagen que deseas usar */
    background-size: cover; /* La imagen se ajustará al tamaño del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del div */
  border-radius: 2%;
  color: white;
  font-size: 23px;

  }
  .button-takeaway1{
    margin-top: 5%;
    font-family: 'TheSerifExtraBold';
    display: inline-block;
    padding: 13px 32px;
    border: 2px solid white;
    border-radius: 5px; /* Ajusta el valor para redondear más o menos los bordes */
    background-color: transparent;
    color: white;
    font-size: 19px;
    cursor: pointer;
  }

  .button-takeaway:hover{
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }

  .button-takeaway{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px; /* Ajusta el valor para redondear más o menos los bordes */
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  .button-takeaway:hover{
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }
  .titulocartas{
    padding-top: 1%;
    font-family: 'ImpressumStd-Roman';
    font-size: 39px;
  }

  #contenedor-de-cartas {
    margin-top: 10%;
    margin-bottom: 15%; /* Ajusta este valor según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centra horizontalmente los elementos */
    font-size: 17px;
    font-family: 'TheSerifExtraBold';
    
  }
  #contenedor-de-cartas > div {
    margin-bottom: 1.5em; /* Agrega espacio entre los divs */
  }
  
  .cartademenu{
  padding: 1em 4em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  }
  
  .postres{
  padding: 1em 3em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  }
  
  .cartaniños{
  padding: 1em 2em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  }
  
  .nuestrosvinos{
  padding:1em 4em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  }
  
  

    
    
  
  
    .menugrupo{
    margin-left: 30%;
    margin-right: 30%;
      padding: 6%;
      background-image: url('../imagenes/vinos.webp'); /* Ruta de la imagen que deseas usar */
      background-repeat: no-repeat; /* Evita que la imagen se repita */
      background-position: center; /* Centra la imagen dentro del div */
      background-size: cover;
      background-position: center;
      transition: transform 0.3s ease; /* Aplicamos una transición suave al cambio de la propiedad "transform" */
      }

  .frasecarta{
    font-family: 'TheSerifExtraBold';
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    font-size: 23px
  }
  .linkcartas {
    color: rgb(2, 2, 2);
    text-decoration: none; /* Opcional: para quitar el subrayado de los enlaces */
  }

  .cartamenuimg{
width: 100%;

  }

  .cartamenuimgvino{
    width: 100%;
    margin-bottom: 6%;
  }



  #contenido-grupos{
    margin:5% 10%;
    font-family: 'TheSerifExtraBold';
  }
  .texto-grupos{
    padding: 5%;
    background-color: #dfdddd;
    font-size: 26px;
  }
  .lista-menus{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 2%;
    text-align: center;
    
    
  }
  .menus{
    padding: 6% 10%;
    background-color: #f1f1f1;
    border: 1px solid #000000;
    border-radius: 2%;
    font-weight: bolder;
    background-position: center;
    transition: transform 0.3s ease; /* Aplicamos una transición suave al cambio de la propiedad "transform" */
    color:white;
    
  }

  .linkmenu {
    color: rgb(0, 0, 0);
    /* Puedes añadir otros estilos aquí si es necesario */
  }
    .menus:hover{
      transform: scale(1.1); /* Al pasar el ratón, hacemos un efecto de escala para aumentar el tamaño */ 
    }

    .cartamenugrupo{
 
      width: 100%;
    }
    .formulario1-reserva{
      background-color: rgb(253, 211, 183);
      padding: 3% 5%;
      margin: 5% 8%;
      margin-bottom: 50%;
      font-family: 'TheSerifExtraBold';
      font-size: 22px;
    }
    .tituloreservas{
      font-size: 30px;
    }
    .label-reserva1{
      margin-top: 3%;
      display: flex;
      flex-direction: column;
    }
    .label-reserva2{
    
      display: flex;
      flex-direction: column;
    }
    .input-reserva1{ 
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .button-reserva1 {
      margin-top: 2%;
      background-color: #ffffff; /* Color de fondo rojo */
      color: #050505; /* Color de las letras blancas */
      border: 2px solid #000000; /* Borde blanco de 2px */
      border-radius: 3px; /* Bordes redondos */
      padding: 10px 20px; /* Espacio interno alrededor del texto */
      font-size: 13px; /* Tamaño de fuente */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
      font-family: 'TheSerifExtraBold';
    }
    
    .button-reserva1:hover {
      background-color:  rgb(252, 158, 96);
      color: #000000;
    }
    
    .button-reserva1:active {
      background-color: #ff0000;
      color: #ffffff;
    }
     /* Estilos para el formulario de inicio de sesión */
   .login-container {
    margin: 3% 5%;
    padding: 8% 10%;
    padding-bottom: 3%;
    background-color: rgb(253, 211, 183);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'TheSerifExtraBold';
    font-size: 23px;
    margin-bottom: 50%;
  }



  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
  }

  .login-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .botonlogin {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'TheSerifExtraBold';
  }

  .botonlogin:hover {
    background-color: #018a08;
  }

  .botoneslogin{
    display: flex;
 
    align-items: center;
    justify-content: center;

  }
   .registro{
    margin-top: 5%;
    align-items: center;
   }
   .botonregistro{
    background-color: #7e0202;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'TheSerifExtraBold';
   }
   .botonregistro:hover {
    background-color: #4b0000;
  }
  .notificaciones{
    font-family: 'TheSerifExtraBold';
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40%;
  }
  .formulario-noti{
    font-size: 20px;
  }
  .formulario-noti button {
    font-family: 'TheSerifExtraBold';
    margin-top: 1%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .formulario-noti button:hover {
    background-color: black;
    color: white;
  }
  #contenido_factura{
    margin: 5%;
    font-family: 'TheSerifExtraBold';
    font-size: 22px;
  }
  
  .formulario_factura button {
    margin-top: 1%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'TheSerifExtraBold';
    font-size: 15px;
  }
  
  .formulario_factura button:hover {
    background-color: black;
    color: white;
  }
  
  .input-factura{
    margin-right: 2%;
    margin-left: 4px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
  }
  .input-factura2{
  margin-top: 0.5%;
  }

  .menu {
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;
    
}

.menu-item {
    background-color: #ffd391;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 3px;
    padding: 20px;
    width: 300px;
    
}

.menu-item h2 {
    margin-top: 0;
}

.menu-item p {
    margin-bottom: 0;
}

.menu select{
  margin-top: 3%;
  padding: 1% 9%;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  font-family: 'TheSerifExtraBold';
}

.menu-item-price {
  font-family: 'TheSerifExtraBold';
    color: #ff6600;
}
 .menu button{
  font-family: 'TheSerifExtraBold';
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #000000;
  color: rgb(5, 5, 5);
  margin-top: 3%;
 }
 .menu button:hover{
  background-color: rgb(40, 190, 3);
    color: rgb(255, 255, 255);
    border: 2px solid  #ffd391;
    transition: background-color 0.3s, color 0.3s;
 }

 .parte-superior{
  font-family: 'TheSerifExtraBold';
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  gap: 10%;
  margin: 0% 4%;
 }

 #carrito{
  font-family: 'TheSerifExtraBold';
  padding: 1% 3%;
  border: 0.5px solid #000000;
  margin: 3% 10%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  
 }
 #carrito div{
  display: flex;
  
 }
 #carrito p{
  font-size: 20px;
 }
 .boton-eliminar {
  font-family: 'TheSerifExtraBold';
  background-color: #ffffff;
  padding: 5px 15px;
  border: 2px solid #000000;
  color: rgb(5, 5, 5);
  margin-left:1%;
}
.boton-eliminar:hover {
  background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid  #f8f8f8;
    transition: background-color 0.3s, color 0.3s;
}

#enviar-pedido{
  font-family: 'TheSerifExtraBold';
  background-color: #ffffff;
  padding: 10px 20px;
  border: 2px solid #000000;
  color: rgb(5, 5, 5);
  margin-top: 1%;
}
#enviar-pedido:hover{
  background-color: rgb(40, 190, 3);
    color: rgb(255, 255, 255);
    border: 2px solid  #f8f8f8;
    transition: background-color 0.3s, color 0.3s;
}


 .codigo{

  text-decoration: none;
  font-family: 'TheSerifExtraBold';
  background-color: #ffffff;
  padding: 5px;
  font-size: 20px;
  border: 2px solid #000000;
  color: rgb(5, 5, 5);
  margin-top: 3%;
 }
 .codigo:hover{
  background-color: rgb(40, 190, 3);
    color: rgb(255, 255, 255);
    border: 2px solid  #000000;
    transition: background-color 0.3s, color 0.3s;
 }

 .titulo-carrito{
  font-size: 25px;
}


.menu-item-price {
  font-family: 'TheSerifExtraBold';
    color: #ff6600;
}
 .menu button{
  font-family: 'TheSerifExtraBold';
  background-color: #ffffff;
  padding: 10px;
  border: 2px solid #000000;
  color: rgb(5, 5, 5);
  margin-top: 3%;
 }
 .menu button:hover{
  background-color: rgb(40, 190, 3);
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    transition: background-color 0.3s, color 0.3s;
 }
    /* Declara la fuente personalizada */
  @font-face {
    font-family: 'Clarendon-Serial-Heavy';
    src: url('../assets/fonts/Clarendon-Serial-Heavy\ Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Declara la fuente personalizada */
  @font-face {
  font-family: 'ImpressumStd-Roman';
  src: url('../assets/fonts/ImpressumStd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }
  
  /* Declara la fuente personalizada */
  @font-face {
  font-family: 'Overpass-Regular';
  src: url('../assets/fonts/Overpass-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }
  /* Declara la fuente personalizada */
@font-face {
  font-family: 'TheSerifExtraBold';
  src: url('../assets/fonts/TheSerifExtraBold-Plain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }
}